
.container{
    align-items: start;
}

.form{
    display: flex;
    padding-top: 10vh;
    gap: 1rem;
    flex-direction: column;
    height: 10vh;
    justify-content: start;
}

.send-button{
    background-color: #d6b795;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    transition: terasform 0.2s ease-in-out 0.1,box-shadow 0.2s ease-in-out 0.1;
}

/* Click (active) effect */
.send-button:active {
    transform: scale(0.95); /* Slightly shrink button */
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}